body {
    font-family: "Open sans",sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
}

body::before {
    content: "";
    position: fixed;
    background: #040404 url("../img/bgbaru.png") top right no-repeat;
    left: 0;
    background-size: cover;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

a{
    color: inherit; /*tag a ngikut menjadi warna putih*/
    text-decoration: none; /*agar tidak ada garis dibawahnya*/
}

.social-links {
    padding: 10px 0;
}

li {
    list-style: none;
}

.container {
    width: 80%;
    height: 10%;
    margin: 0 auto;
    
}

.tombol{
    display: inline-block; /*membuat tata letak menjadi horizontal*/
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

h1, h2, h3 {
    font-family: "Raleway", sans-serif;
}

#header img {
    padding: 0;
    margin: 0;
}

/*-------------------# Header-------------------------*/
#header {
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
}

#header h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

#header h2 span { /*mngisi garis bawah*/
    color: #fff;
    border-bottom: 2px solid #f84545;
    padding-bottom: 6px;
}

#header h2 span:hover {
    color: #fff;
    border-bottom: 2px solid #df06d4;
    padding-bottom: 6px;
}

#header .social-links {
    margin-top: 20px;
    display: flex;
}

#header .social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 5px;
    
}

#header .social-links a:hover {
    background: #f84545;
}

#header h2 {
    font-size: 20px;
    line-height: 30px;
}

#header .social-links {
    margin-top: 15px; 
}

/*------------------# Navigation Menu----------------*/
.nav-menu {
    margin-top: -400px;
    margin-left: 57%;
}
.nav-menu ul  {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;  
}
.nav-menu li + li {
    margin-left: 30px;
}
.nav-menu a {
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.nav-menu a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #f84545;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}
.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
    visibility: visible;
    width: 30px;
}

/*--------------------# Sections General------------------*/
section.section-show {
    top: 100px;
    bottom: auto;
    opacity: 1;
    padding-bottom: 45px;
}
section .container-biodata { /*membuat background transparan*/
    background: rgba(0, 0, 0, 0.9);
    padding: 50px;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}
.section-title h2::after { /*membuat garis di biodata*/
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #f84545;
    margin: 4px 10px;
}
.section-title p { /*mengatur tag p yang memiliki class section-title*/
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

/*--------------------# Biodata------------------*/
.biodata-me  h3 { /*mengubah warna tulisan h3*/
    font-weight: 700;
    font-size: 26px;
    color: #f84545;
}

.img-biodata{
    width: 350px;
}

.biodata-me ul i {
    font-size: 20px;
    padding-right: 2px;
    color: #f84545;
}

/*--------------------# Skill----------------------*/
section .container-skills { /*membuat background transparan*/
    background: rgba(0, 0, 0, 0.9);
    padding: 50px;
}
.skills .progress { /*mengatur semua yang memiliki class skill dan progress*/
    height: 50px;
    display: block;
    background: none;
}
.skills .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
.skills .progress .skill .val { /*membuat yg memiliki class val ke kanan*/
    float: right;
    font-style: normal;
}
.skills .progress-bar-wrap {
    background: rgba(255, 255, 255, 0.15);
}
.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: .9s;
}

/*--------------------# Experience------------------*/
section .container-experience { /*membuat background transparan*/
    background: rgba(0, 0, 0, 0.9);
    padding: 50px;
}

/*--------------------# Education------------------*/
section .container-education { /*membuat background transparan*/
    background: rgba(0, 0, 0, 0.9);
    padding: 50px;
}
.ex-me{
    margin-top: 35px;
}
.border-start {
    padding: 24px;
}
.mb-2 {
    color: rgb(189, 163, 16);
}
  


